@import "tailwindcss";

:root {
  --background: #02012b;
  --foreground: #171717;
  --cards: #24253d;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-cards: var(--cards);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #02012b;
    --foreground: #ededed;
    --cards: #24253d;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.125rem;
}
